### Arithmetic Operators

In [24]:
print(3+4)
print(14 + 10)
print(20 - 10)
print(12 / 10)
print(20 * 10)
print(2 ** 2)
print(11 % 2)
print(12 // 10)

7
24
10
1.2
200
4
1
1

### Assignment Operators

In [27]:
a = 10
a += 10
a *= 10
a /= 10
a -= 10
a //= 10
a **= 10
a %= 10

### Bitwise Operators

In [43]:
# print(a)

b = 10
c = 12
print(c & b)
print(True & False)
print(True | False)
print(~True)
print(True ^ False)

8
False
True
-2
True

### Comparison Operators

In [60]:
print(b < c)
print(b > c)
print(b != c)
print("1" == 1)

#Identity Operator
d = 10
e = d
team1 = {"one": "faiz", "two": "messi"}
team2 = team1
team3 = {"one": "faiz", "two": "messi"}

print(team2 is team1)
print(team3 is team1)
print(d is e)

True
False
True
False
True
False
True

### Logical Operators

In [64]:
# age = input("Enter your age:")
age = 20

if age >= 18 and age < 55:
    print("You are eligible to drive")
elif age < 18 or age > 55:
    print("You are not eligible to drive")
else:
    print("The input you have typed is not compatible")

#age = input("Enter your age:")
age = 20

if age >= 18 and age < 55:
    print("you are eligible to drive")
elif age < 18 or age >55:
    print("you are eligible to drive")
else:
    print("The input you have typed is not compatible")

You are eligible to drive
you are eligible to drive

### Membership Operators

In [62]:
print("one" in team2)
print("two" not in team2)

True
False