### Basics of list

In [2]:
list1 = [1,2,3,4]
#accessing the string using array notation

print(list1[0])
print(list1[::-1])
#same as of string slicing

#cheking the item present in list using in operator
print(1 in list1)

1
[4, 3, 2, 1]
True

### List adding methods

In [7]:
list2 = ["first","second", "third"]
# list2.append("fourth")
# list2.append(5)
list2.insert(3,100)
# arr1.extend([6,7,8,9])
print(list2)

['first', 'second', 'third', 100]

### List Deleting methods

In [18]:
list3 = [1,2,3,4]
print(list3.pop())
print(list3.pop(0))
list4 = ["sugar","milk","berries","donut"]
list4.remove("donut")
print(list4)
del list4[0]
print(list4)
list4.clear()
print(list4)

4
1
['sugar', 'milk', 'berries']
['milk', 'berries']
[]

### Changing list Items

In [35]:
# We can use index to change the list items
list5 = ["first","second","third","fourth"]
#list5[0] = "newFirst"
#list5[0:2] = ["newFirst","newSecond"]
#list5[0:2] = ["newFirst","newSecond","newThird"]
list5[0:3] = ["newFirst","newSecond"]
print(list5)

['newFirst', 'newSecond', 'fourth']

### List comprehension

In [44]:
# Creating list from other iterables like tuple, set, string or other list
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
new_names_list = [item.upper() for item in names if len(item)>=5]

print(new_names_list)

['SARAH', 'BRUNO', 'ANASTASIA']

### Usefull list methods

In [71]:
list6 = [23,10,3,1,44,10]
list6.sort()
#list6.reverse()
print(list6.count(10))
print(list6.index(3))
#print(list6)
#list7 = list6.copy()

2
1