### Python Sets - Practice Questions

### 1. Create a set named fruits containing "apple", "banana", and "cherry".

In [3]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

### 2. Add "orange" to the fruits set.

In [6]:
fruits.add("orange")
print(fruits)

{'apple', 'cherry', 'banana', 'orange'}

### 3. Remove "banana" from the fruits set.

In [9]:
fruits.remove("banana")
print(fruits)

{'apple', 'cherry', 'orange'}

### 4. Create two sets:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
Find the union of A and B.

In [12]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

union_set = A | B 

print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

### 5. Find the intersection of A and B.

In [15]:
intersection_set = A & B 

print(intersection_set)

{4, 5}

### 6. Find the difference between A and B.

In [18]:
difference_set = A - B 

print(difference_set)

{1, 2, 3}

### 7. Find the symmetric difference between A and B.

In [21]:
symmetric_difference_set = A ^ B  

print(symmetric_difference_set)

{1, 2, 3, 6, 7, 8}

### 8. Check if A is a subset of {1, 2, 3, 4, 5, 6, 7, 8, 9}.

In [24]:
A = {1, 2, 3, 4, 5}
larger_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# Checking if A is a subset of the larger set
is_subset = A.issubset(larger_set)  # or use A <= larger_set

print(is_subset)

True

### 9. Check if {4, 5} is a subset of A.

In [27]:
A = {1, 2, 3, 4, 5}
is_subset = {4, 5}.issubset(A) 

print(is_subset)

True

### 10. Create an empty set and check its type.

In [30]:
empty_set = set()

print(type(empty_set))

<class 'set'>

### 11. Convert the list [1, 2, 3, 1, 2, 4, 5, 6, 5] into a set and print the result.

In [33]:
my_list = [1, 2, 3, 1, 2, 4, 5, 6, 5]
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5, 6}

### 12. Iterate over a set containing {"Python", "Java", "C++"} and print each element.

In [36]:
languages = {"Python", "Java", "C++"}

for language in languages:
    print(language)

C++
Python
Java