### Python Loops - Practice Questions
1. Write a for loop to print numbers from 1 to 10.

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Write a while loop to print numbers from 10 to 1.

In [5]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

### 3. Write a loop to calculate the sum of the first 50 natural numbers.

In [8]:
total = 0
for i in range(1, 51):
    total += i

print(total)

1275

### 4. Write a loop that prints all even numbers between 1 and 50.

In [12]:
for i in range(2, 51, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### 5. Write a loop that prints the multiplication table of a given number n.

In [15]:
def multiplication_table(n):
    for i in range(1, 11):  # Loop from 1 to 10
        print(f"{n} x {i} = {n * i}")

# Example: print the multiplication table of 5
multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### 6. Write a loop to find the factorial of a given number n.

In [18]:

def factorial(n):
    result = 1
    for i in range(1, n + 1):  # Loop from 1 to n
        result *= i  # Multiply result by i
    return result

# Example: find the factorial of 5
print(factorial(5))

120

### 7. Write a loop to reverse a given string without using slicing.

In [21]:
def reverse_string(s):
    reversed_str = ""
    for char in s:
        reversed_str = char + reversed_str  # Add the character at the front
    return reversed_str

# Example: reverse the string "hello"
print(reverse_string("hello"))

olleh

### 8. Write a loop to count the number of digits in a given number.

In [24]:
def count_digits(n):
    count = 0
    while n > 0:
        n = n // 10  # Remove the last digit by performing integer division
        count += 1
    return count

# Example: count the digits of 12345
print(count_digits(12345))

5

### 9. Write a loop that prints Fibonacci numbers up to n terms.

In [27]:

def fibonacci(n):
    a, b = 0, 1  # Initialize the first two Fibonacci numbers
    for _ in range(n):
        print(a, end=" ")  # Print the current Fibonacci number
        a, b = b, a + b  # Update to the next two Fibonacci numbers

# Example: print the first 10 Fibonacci numbers
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

### 10. Write a loop to find the sum of all digits in a given number.

In [30]:
def sum_of_digits(n):
    total = 0
    while n > 0:
        total += n % 10  # Add the last digit of n to total
        n = n // 10  # Remove the last digit from n
    return total

# Example: find the sum of digits of 12345
print(sum_of_digits(12345))

15

### 11. Write a nested loop to print the following pattern for n = 5:
*
**
***
****
*****

In [33]:
def print_pattern(n):
    for i in range(1, n + 1):
        # Print '*' i times for each row
        for j in range(i):
            print('*', end='')  # Print without newline
        print()  # Move to the next line after each row

# Example: print the pattern for n = 5
print_pattern(5)

*
**
***
****
*****

### 12. Write a loop to find and print all prime numbers between 1 and 100.

In [36]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):  # Check up to the square root of num
        if num % i == 0:  # If num is divisible by any number, it's not prime
            return False
    return True

def print_primes_up_to_100():
    for num in range(1, 101):
        if is_prime(num):
            print(num, end=" ")

# Print prime numbers between 1 and 100
print_primes_up_to_100()

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97